# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.htaccess
.idea/
sites/.sites.php .swp
sites/sites.php
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

