# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/bdpl.fr/data/*
.htaccess
.idea/*
.idea/workspace.xml 
sites/all/modules/contrib/xray/
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
