
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-comment-alt:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-plus-circle:before { content: '\e805'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */