#zone-user{
    display: block;
  }
#zone-user-wrapper{
  background-color: #2E2E2E;
}
#block-bean-je-m-installe{
  width: 100%;
  height: 150px;
  float: left;
  background: #F3F2EE url(../images/bg/map_europe.jpg) no-repeat 0 50%;
}
#block-bean-edito div.image img{
  max-width: 100%;
}

#block-bean-edito div.image{
  bottom: 20px;
  right: 30px;
}
.block-views-events-block-1, #block-views-liste-articles-block-1,
#block-views-le-saviez-vous-ss-block{
  padding: 16px;
}
#block-views-liste-articles-block-2{
  float: right;
  background: url("../images/illustrations/savez-vous.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin: 20px 3% 0 0;
  overflow: hidden;
  padding: 60px 0 0;
  width: 31.25%;
}

#block-views-liste-articles-block-3{
  float: right;
  width: 30%;
  clear: right;
}
#block-views-liste-articles-block-3 h2.block-title{
  border-bottom: 2px solid #44484B;
  padding: 15px 0 13px;
  text-transform: uppercase;
  width: 135px;
}