/* Global *************************************/
body,h1, h2, h3, h4, h5, h6{
  font-family: 'Signika', sans-serif;
}
a:hover, body h3 a:hover, #block-views-news-block-1 h3 a:hover, 
#block-views-events-block-evenements-home h3 a:hover{
  text-decoration: underline;
}
a.fleche-sombre{
  color: #44484B;
  background: transparent url(../images/icons/arrow_dark_link.png) no-repeat 100% 50%;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  border-bottom: 1px solid #44484B;
}
div.more-link a{
  color: #f45a40;
  background: transparent url(../images/icons/arrow_orange_link.png) no-repeat 100% 50%;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  border-bottom: 1px solid #f45a40;
}
h1, h2, h3, h4, h5, h6{
  color: #44484B;
}
.block-menu-block h2,.block-search h2,
.block-main-menu h2{
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
}
/* Menus haut et bas****************************/
#block-menu-block-1{
  float:right;
}
.menu-name-menu-menu-haut ul li,
.menu-name-menu-menu-bas ul li{
  float: left;
  list-style: none;
  border-left:1px solid #d4d4d4;
  margin: 0;
  padding: 0;
}
.menu-name-menu-menu-haut ul li a,
.menu-name-menu-menu-bas ul li a{
  display:block;
  color: #d4d4d4;
  padding : 0.5em 1.5em;
  text-decoration: none;
}
#block-search-form{
  float :right;
  border-right: 1px solid #d4d4d4;
  margin-top:0.3em;
  padding-left: 5px;
}
/* moteur de recherche search engine **********/
#search-block-form #edit-submit{
  border: 0;
  width: 28px;
  height: 24px;
  text-indent: -6000px;
  background: transparent url(../images/icons/loupe.png) no-repeat 50% 5px;
}
/*logo ****************************************/
#zone-branding h1{
  font-size : 1.4em;
}
#region-branding #block-block-1{
  float: left;
}
/* Menu principal *****************************/
#block-system-main-menu{
  float: right;
  margin: 30px 0;
}

.block-system-main-menu ul.menu>li{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-system-main-menu ul.menu>li>a{
  display:block;
  text-decoration: none;
  padding: 5px 20px;
  color: #3b3c3e;
  font-size: 1.4em;
  border-radius : 6px;
}
.block-system-main-menu ul.menu>li>a.active,
.block-system-main-menu ul.menu>li>a:hover{
  background-color: #F45A40;
  color: #f5ffff;
}
.block-system-main-menu ul.menu>li.first>a{
  text-indent: -6000px;
  background: transparent url(../images/icons/home.png) no-repeat 50% 5px;
}
.block-system-main-menu ul.menu>li.first>a.active,
.block-system-main-menu ul.menu>li.first>a:hover{
  background: #F45A40 url(../images/icons/home.png) no-repeat 50% 115%;
}
/* fil d'ariane *******************************/
#breadcrumb{
  
}
/* Block je m'installe ************************/
#block-bean-je-m-installe h2.block-title{
  font-size: 3em;
  color: #44484B;
}
/* Block je m'installe ********************************************************/
#block-bean-je-m-installe{
  width: 100%;
  height: 150px;
  float: left;
  background: #F3F2EE url(../images/bg/map_europe.jpg) no-repeat 45% 50%;
}
#block-bean-je-m-installe a, #block-bean-je-m-installe div,
#block-bean-je-m-installe h2{
  display: block;
  text-align: center;
}
#block-bean-je-m-installe h2{
  margin: 10px 0 0 0;
  padding: 0;
}
#block-bean-je-m-installe div.field-item>a{
  background-color: #F45A40;
  border-radius: 6px;
  text-transform: uppercase;
  color: #f5ffff;
  padding: 15px;
  width: 50%;
  margin: 0 auto 0 auto;
}
/* bloc édito *****************************************************************/
#block-bean-edito{
  width: 100%;
  float: left;
  background-color: #24CDB8;
  color: white;
}
#block-bean-edito a{ 
  color: #44484B;
}
#block-bean-edito ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-bean-edito ul li a{ 
  padding-left: 15px;
  background: url(../images/icons/arrow_dark.png) no-repeat 0 50%;
}
#block-bean-edito p{
  margin: 5px 0;
  padding: 0;
}
#block-bean-edito:after{
  content: "";
  display: block;
  clear: both;
}
#block-bean-edito div.field-name-field-texte{
  padding:  10px 15px 5px 15px;
  position: relative;
}
#block-bean-edito div.image{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* footer *************************************/
#section-footer{
  background: #2E2E2E url(../images/bg/bg_half_white.png) no-repeat 50% 0;
}
#region-footer-first{
  background-color: #2E2E2E;
}
#block-block-2{
  float: right;
}
#block-block-2 p{
  margin: 0;
  padding: 0;
}
/* galerie ************************************/
.galleria-container {
  background: #A89C82;
  border-radius: 8px;
}
.view-liste-artistes .view-content .views-row {
  float :left;
  margin : 10px 10px 10px 0;
}