.view-display-id-attachment_anchors .views-row-first.views-row-last{
  display: none;
}
.link-anchor-articles-vigipl{
  display: block;
  &:before{
    .glyphicon();
    content: "\e834";
    color: @brand-danger;
  }
  &:hover:before{
    text-decoration: none;
  }
}
.link-anchor-top-vigipl{
  &:before{
    .glyphicon();
    content: "\e836";
    color: @brand-info;
    font-size: 3em;
    cursor: pointer;
    text-decoration: none;
  }
  &:hover:before{
    text-decoration: none;
    color: @brand-danger;
  }
}
.view-liste-articles{
  .views-row-first.views-row-last .h3-article-vigipl{
    display: none;
  }
}
.page-taxonomy-term{
  .field-name-field-article-news-linked {
    float: right;
    width: 30%;
    margin-left: 5px;
    background-color: white;
    padding: 20px 0px 25px 20px;
    background-color: @gray-lighter;
    border-left: 15px solid white;
    a{
      color: @brand-danger;
    }
  }
}
