#zone-user{
    display: block;
  }
#zone-user-wrapper{
  background-color: #239abc;
}
#block-bean-je-m-installe{
  width: 100%;
  height: 150px;
  float: left;
  background: #F3F2EE url(../images/bg/map_europe.jpg) no-repeat 0 50%;
}
#block-bean-edito div.image img{
  max-width: 100%;
}

#block-bean-edito div.image{
  bottom: 20px;
  right: 30px;
}
.block-views-events-block-1, #block-views-liste-articles-block-1,
#block-views-le-saviez-vous-ss-block{
  padding: 16px;
}
#block-views-le-saviez-vous-ss-block{
  padding: 0 16px 16px 16px;
}
.sf-menu.sf-style-space-orange {
  float: left;
}
#block-responsive-dropdown-menus-main-menu,
#block-menu-block-6{
  display: none;
}
.paragraphs-item-image-2-col .field-name-field-2col-image img{
  float: right;
}
.region-sidebar-second{
  margin-top: 35px;
}
.ds-2col-fluid > .group-right {
  float: right;
  width: 220px;
}
.ds-2col-fluid > .group-left {
  float: left;
  width: 65%;
}
/* actualités actus ****************************/
h3#zoom-sur{
  display: none;
}
/* Menu actions ********************************/
#section-content #block-menu-block-7 ul li{
  width: 20%;
}
#section-content #block-menu-block-7 ul li a{
  display: block;
  height: 95px;
  padding: 40% 0 0 50%;
  background: transparent url(../images/icons/adherer.png) no-repeat 0 50%;
  text-decoration: none;
}
#section-content #block-menu-block-7 ul li a{
  height: 110px;
  padding: 0;
  background: transparent url(../images/icons/adherer.png) no-repeat 50% 100%;
  text-align: center;
  display: block;
}
#section-content #block-menu-block-7 ul li.menu-mlid-879 a{
  background: transparent url(../images/icons/telecharger.png) no-repeat 50% 100%;
}
#section-content #block-menu-block-7 ul li.menu-mlid-880 a{
  background: transparent url(../images/icons/teledeclarer.png) no-repeat 50% 100%;
}
#section-content #block-menu-block-7 ul li.menu-mlid-881 a{
  background: transparent url(../images/icons/se-documenter.png) no-repeat 50% 100%;
}

