#block-bean-je-m-installe{
  width: 32.29%;
  height: 270px;
  background: #F3F2EE url(../images/bg/map_europe.jpg) no-repeat 74% 0;
}
#block-bean-je-m-installe h2{
  margin: 30px 0 0 0;
}
#block-bean-je-m-installe div.field-item>a{
  margin: 100px auto 0 auto;
}
/* bloc édito *****************************************************************/
#block-bean-edito{
  width: 67.71%;
  height: 270px;
}

#block-bean-edito ul li a{ 
  padding-left: 15px;
  background: url(../images/icons/arrow_dark.png) no-repeat 0 50%;
}
#block-bean-edito:after{
  content: "";
  display: block;
  clear: both;
}
#block-bean-edito div.field-name-field-texte{
  padding:  15px 35px 5px 35px;
}

/* Bloc raisons *********************************************************/
#block-views-le-saviez-vous-ss-block{
  float:left;
  width: 31.25%;
  margin: 0;
  position: relative;
  overflow: hidden;
  clear: none;
}
#views_slideshow_cycle_teaser_section_le_saviez_vous_ss-block{
  height: 140px ! important;
}
#views_slideshow_controls_text_previous_le_saviez_vous_ss-block{
  display: none;
  /*position: absolute;
  left: 0;
  top:  50%;
  z-index: 10;
  text-indent: -6000px;
  width: 20px;
  height: 40px;
  background: url(../images/icons/arrow_ss_know_it_left.png) no-repeat 0 50%;*/
}
#views_slideshow_controls_text_next_le_saviez_vous_ss-block{
  position: absolute;
  right: 5px;
  top:  50%;
  z-index: 10;
  text-indent: -6000px;
  width: 20px;
  height: 40px;
  background: url(../images/icons/arrow_ss_know_it_right.png) no-repeat 0 50%;
}

#block-views-le-saviez-vous-ss-block .views-field-body-1{
  margin-top: 13px;
}
#block-views-le-saviez-vous-ss-block .views-field-body{
  padding: 0 10px 0 0;
  margin-top: 30px;
  color: #44484b;
  font-size: 0.6em;
}
#block-views-le-saviez-vous-ss-block .dnd-atom-wrapper{
  display: block;
}
#block-views-le-saviez-vous-ss-block .dnd-drop-wrapper{
  display: block;
  text-align: center;
}

#views_slideshow_cycle_teaser_section_le_saviez_vous_ss-block{
  height: 90px !important;
  overflow: hidden;
}
/* raisons ************************************/
#block-views-le-saviez-vous-ss-block .view-footer a{
  margin: 20px 0 0 0;
}

/* Actualités page d'accueil **************************************************/
h3#zoom-sur{
  display: block;
}
#block-views-news-block-1{
  float:left;
  width: 64.3%;
  padding: 20px 0 0 0;
  margin: 0px 0 0 1.0416667%;
  height: 239px;
  position: relative;
  overflow: hidden;
  background: #4dc1e2 url(../images/bg/bg_half_blue_news.png) no-repeat 0 0;
}
#block-views-news-block-1 .view-content{
  height: 150px;
  overflow: hidden;
}
#zoom-sur{
  position: absolute;
  color: white;
  top: 26px;
  left: 370px;
  z-index: 1;
  font-size: 2em;
}
#member-home{
  position: absolute;
  top: 15px;
  left: 190px;
  z-index: 1;
  font-size: 1em;
  padding-right: 15px;
  background: url(../images/icons/arrow-white-small.png) no-repeat 100% 50%;
  color: white;
  text-decoration: underline;
  display: block;
  z-index: 2;
}
#block-views-news-block-1 div.more-link a{
  position: absolute;
  bottom: 5px;
  left: 160px;
  color: #013f4c;
  background: transparent url(../images/icons/arrow-white-small.png) no-repeat 100% 50%;
  border-bottom: 0;
  text-decoration: underline;
  color: white;
}
#block-views-news-block-1 > .block-inner{
  padding: 0 0 0 60px;
}
#block-views-news-block-1 .views-row.views-row-first{
  position: absolute;
  width: 36%;
  padding: 60px 1% 5px 5%;
  height: 210px;
  background-color: #dedb00;
  top: 0;
  right: 0;
  overflow: hidden;
}
#block-views-news-block-1 .views-row{
  width: 52%;
}

#block-views-news-block-1 .views-field-body p{
  margin: 0;
}
#block-views-events-block-evenements-home .views-field-field-date{
  margin-top: 12px;
}
#block-views-events-block-evenements-home h3 a{
  margin: 0;
}
/* Missions et services *******************************************************/
#block-bean-missions-et-services-{
  width : 47.916666666666666666666666666667%;
  float: left;
  clear: left;
  background: url(../images/icons/coches-bleue-blanche.png) no-repeat 0 0;
  padding: 60px 0 0 0;
  margin: 20px 0 0 1.0416667%;
}
/* Agenda - evenement page d'accueil ******************************************/
#block-views-events-block-evenements-home{
  float:left;
  width : 47.916666666666666666666666666667%;
  background: url(../images/icons/agenda-yellow.png) no-repeat 0 0;
  padding: 60px 0 0 0;
  margin: 20px 0 0 1.0416667%;
}
#block-views-events-block-evenements-home .views-row{
  background: url(../images/icons/icon_calendar.png) no-repeat 0 5px;
  padding-left: 20px;
}
/* Mise en page sur deux colonnes**********************************************/
.paragraphs-items-field-2col-first{
  float: left;
  width: 48%;
}
.paragraphs-items-field-2col-second{
  float: left;
  width: 50%;
  margin-left: 2%
}
.paragraphs-items-field-2col-second div.image{
  display: block;
}
.paragraphs-items-field-2col-second:after{
  content: "";
  display: block;
  clear: left;
  margin-bottom: 40px;
}
/* Menu actions ***************************************************************/
#section-content #block-menu-block-7 ul li a{
  display: block;
  height: 80px;
  padding: 40px 0 0 50%;
  background: transparent url(../images/icons/adherer.png) no-repeat 0 50%;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
#section-content #block-menu-block-7 ul li.first a{
  padding: 40px 0 0 50%;
  margin-left: 25px;
}
#section-content #block-menu-block-7 ul li.menu-mlid-879 a{
  background: transparent url(../images/icons/telecharger.png) no-repeat 0 50%;
}
#section-content #block-menu-block-7 ul li.menu-mlid-880 a{
  background: transparent url(../images/icons/teledeclarer.png) no-repeat 0 50%;
}
#section-content #block-menu-block-7 ul li.menu-mlid-881 a{
  background: transparent url(../images/icons/membre.png) no-repeat 0 50%;
}

