/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@vert:          #ADD302;
@gris-fonce:    #F1F1F1;
@gris-clair:    #FAFAFA;
@presque-noir:  #252525;
@mauve:         #8D4688;

@grid-float-breakpoint:     @screen-md-min;
