.title-home-3-cols {
  display: table;
  padding: 10px 25px;
  background-color: white;
  width: 50%;
  margin: 240px auto 0 auto;
  text-transform: uppercase;
  font-size: 2em;
  color: black;
  z-index: 1;
  text-align: center;
  @media screen and (max-width: @screen-md) {
    margin: 20px auto 0 auto;
  }
  @media screen and (min-width: @screen-xl) {
    margin: 300px auto 0 auto;
  }
}

.img-home-3-cols {
  @media screen and (min-width: @screen-md) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
/* titre bas formation ************************************************/
.h3-bottom-training {
  &.pl {
    a {
      background: url(../images/picto_formation_bleu.png) no-repeat 0 0;
      background-size: 60px 60px;
    }
  }
  &.caa {
    a {
      background: url(../images/picto_formation_orange.png) no-repeat 0 0;
      background-size: 60px 60px;
    }
  }
  a {
    display: block;
    color: @black-amapl;
    font-size: 0.75em;
    padding: 5px 5px 5px 80px;
    min-height: 60px;
    background: url(../images/picto_formation_mixte.png) no-repeat 0 0;
    background-size: 60px 60px;
    &:hover {
      text-decoration: none;
      background-color: @blue-green-amapl;
      .rounded(30px 8px 8px 30px);
    }
  }
}
/* titre bas zoom et actu ************************************************/
.h3-zoom-news {
  &.pl {
    a {
      background: url(../images/picto_actu_bleu.png) no-repeat 0 0;
      background-size: 60px 60px;
    }
  }
  &.caa {
    a {
      background: url(../images/picto_actu_orange.png) no-repeat 0 0;
      background-size: 60px 60px;
    }
  }
  a {
    background: url(../images/picto_actu_mixte.png) no-repeat 0 0;
    background-size: 60px 60px;
    &:hover {
      text-decoration: none;
      background-color: @blue-green-amapl;
      .rounded(30px 8px 8px 30px);
    }
  }
}
.front {
  .view-display-id-block_zoom {
    .field-name-body {
      font-size: 1.5em;
    }
  }
}

.front {
  #under-main-container {
    background: url(../images/home_bg_4_raisons.png) no-repeat 50% 0;
  }
  #block-views-le-saviez-vous-ss-block {
    height: 340px;
    position: relative;
    color: white;
    #quatre-raisons {
      font-size: 3.2em;
      margin: 25px 0;
    }
    .views-field-body {
      font-size: 1.6em;
      a {
        color: @blue-green-amapl;
      }
    }
    #views_slideshow_controls_text_le_saviez_vous_ss-block_1 {
      position: absolute;
      bottom: 50px;
      width: 250px;
      display: flex;
      justify-content: space-between;
      left: 100px;
      #views_slideshow_controls_text_pause_le_saviez_vous_ss-block_1 {
        display: none;
      }
      #views_slideshow_controls_text_previous_le_saviez_vous_ss-block_1 {
        a {
          background: url(../images/prev_btn.png) no-repeat 0 0;
          width: 48px;
          height: 48px;
          text-indent: -2000px;
          display: block;
        }
      }
      #views_slideshow_controls_text_next_le_saviez_vous_ss-block_1 {
        a {
          background: url(../images/next_btn.png) no-repeat 0 0;
          width: 48px;
          height: 48px;
          text-indent: -2000px;
          display: block;
        }
      }
    }
    #widget_pager_bottom_le_saviez_vous_ss-block_1 {
      position: absolute;
      z-index: 10;
      bottom: 64px;
      width: 130px;
      display: flex;
      justify-content: space-around;
      left: 150px;
      .views_slideshow_pager_field_item {
        a {
          display: block;
          width: 18px;
          height: 18px;
          text-indent: -2000px;
          overflow: hidden;
          &:before {
            content: "";
            width: 18px;
            height: 18px;
            display: block;
            background: url(../images/little_disk.png) no-repeat 0 0;
            opacity: 0.5;
          }
        }
        &.active {
          a:before {
            background: url(../images/little_disk.png) no-repeat 0 0;
            opacity: 1;
          }
        }
      }
    }
    @media screen and (min-width: @screen-md) {
      .views-field-body {
        font-size: 1.8em;
        width: 500px;
      }
    }
    @media screen and (max-width: @screen-md) {
      .views-field-body {
        width: 100%;
      }
      #home-ss-illustrations {
        display: none;
      }
      #views_slideshow_controls_text_le_saviez_vous_ss-block_1 {
        left: 50px;
      }
      #widget_pager_bottom_le_saviez_vous_ss-block_1 {
        left: 110px;
      }
    }

    #home-ss-illustrations {
      position: absolute;
      top: -20px;
      right: 0px;
      width: 650px;
      height: 355px;
      overflow: hidden;
      @media screen and (min-width: @screen-xl) {
        right: 7%;
        top: -20px;
      }
      img {
        max-width: 650px;
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }
}
.two-cols-home {
  > div {
    background-color: @light-grey-amapl;
    padding-bottom: 20px;
    &.col-home-first {
      background: @light-grey-amapl url(../images/home_circl_pro-home.png)
        no-repeat 50% 0;
      padding-top: 150px;
      .block-title {
        text-transform: uppercase;
        color: @blue-pl-amapl;
        font-weight: 700;
      }
      text-align: center;
      a {
        position: relative;
        display: block;
        padding: 0 10px;
        color: @blue-pl-amapl;
        font-size: 1.6em;
        z-index: 0;
        .hover-underline-blue-green;
        &:hover {
          &:after {
            height: 15px;
            width: 50% !important;
            left: 25%;
          }
        }
      }
      img {
        max-width: 80%;
        margin-top: 20px;
      }
    }
    &.col-home-second {
      background: @light-grey-amapl url(../images/home_circl_caa-home.png)
        no-repeat 50% 0;
      padding-top: 150px;
      .block-title {
        text-transform: uppercase;
        color: @orange-caa-amapl;
        font-weight: 700;
      }
      text-align: center;
      .field-name-field-texte {
        a {
          position: relative;
          display: block;
          padding: 0 10px;
          color: @orange-caa-amapl;
          font-size: 1.6em;
          z-index: 0;
          &:hover {
            text-decoration: none;
            &:after {
              content: "";
              height: 15px;
              width: 50%;
              background-color: @blue-green-amapl;
              position: absolute;
              bottom: 0;
              left: 25%;
              z-index: -1;
            }
          }
        }
      }

      img {
        max-width: 80%;
        margin-top: 20px;
      }
    }
  }
}
.h3-bottom-home {
  .h3-bottom-training;
}
/* 3 colonnes : training, zoom et news *********************************/
.three-cols-home {
  @media screen and (min-width: @screen-md) {
    display: flex;
  }
  margin-top: 30px;

  /* training ********************************************************/
  #block-views-trainings-block-home-training {
    position: static;
    padding-bottom: 40px;
    h2.block-title {
      .title-home-3-cols;
    }
    #top-training {
      .img-home-3-cols;
    }
    .more-link a {
      position: absolute;
      bottom: 0;
      width: 95%;
    }
  }

  /* zoom *********************************************/
  #block-views-news-block-zoom {
    position: static;
    padding-bottom: 40px;
    .contextual-links-region {
      position: static;
    }
    h2.block-title {
      .title-home-3-cols;
      z-index: 1;
    }
    .field-name-field-news-image {
      img {
        .img-home-3-cols;
      }
    }
    .more-link a {
      position: absolute;
      bottom: 0;
      width: 95%;
    }
  }
  /* Actualités ******************************************/
  #block-views-news-block-news {
    position: static;
    padding-bottom: 40px;
    .contextual-links-region {
      position: static;
    }
    h2.block-title {
      .title-home-3-cols;
      z-index: 1;
    }
    #top-news {
      .img-home-3-cols;
    }
    .h3-bottom-home {
      .h3-zoom-news;
    }
    .more-link a {
      position: absolute;
      bottom: 0;
      width: 95%;
    }
  }
}
/* Fin des 3 colonnes : training, zoom et news ********************/
