/* page de liste des formations *************************/
.field-name-field-texte-formations {
  p {
    font-size: 1.3em !important;
  }
}
.group-stat-logos {
  margin-top: 35px;
  display: flex;
  > div {
    flex-basis: 50%;
    .field-name-field-label-statistiques {
      h3 {
        margin-top: 0 !important;
      }
    }
    .field-name-field-texte-certification-qualit {
      margin-top: 5px;
    }
    .field-name-field-logos-certifications {
      .field-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .field-item {
          flex-basis: 30%;
          img {
            max-width: none !important;
            max-height: none !important;
          }
        }
      }
    }
  }
}
.page-formations {
  #under-large-headband {
    background-color: @light-grey-amapl;
    padding-bottom: 30px;
    h2.block-title {
      .complex-title-mixed;
    }
  }
  /* Formulaire de recherche *****************************/
  .views-exposed-form {
    > .views-exposed-widgets {
      display: flex;
      label {
        white-space: nowrap;
      }
      @media screen and (max-width: @screen-lg) {
        flex-wrap: wrap;
        justify-content: start;
      }
      justify-content: space-between;
      .views-exposed-widget {
        display: flex;
        float: none;
        align-items: center;
        justify-content: start;
        label {
          padding-right: 15px;
        }
        // cache les labels pour le champ "gratuit ?"
        .form-item-field-training-free-value {
          > label {
            width: 3px;
            height: 5px;
            overflow: hidden;
            padding-top: 1px;
            color: #faf6f7;
          }
        }
        .btn {
          margin-top: 0;
        }
      }
    }
  }

  /* Résultats *******************************************/
  #views-bootstrap-grid-1 {
    margin-top: 40px;
    > .row {
      display: flex;
      flex-wrap: wrap;
      .views-field {
        height: 100%;
        span.field-content {
          display: block;
          height: 100%;
          padding: 30px 0;
          article {
            position: relative;
            border: 3px solid @dark-grey-amapl;
            padding: 15px;
            height: 100%;

            background: -moz-linear-gradient(
              top,
              @light-grey-amapl 45%,
              white 0%
            );
            background: -linear-gradient(top, @light-grey-amapl 45%, white 0%);
            background: -webkit-linear-gradient(
              top,
              @light-grey-amapl 45%,
              white 0%
            );
            .wrapper-focus-training {
              display: flex;
              justify-content: space-between;
              position: relative;
              top: -40px;
              > .mode-training {
                .box-black();
                z-index: 2;
              }
              > .focus-training {
                .box-red();
              }
            }

            h3.title-training-list {
              position: absolute;
              top: 35px;
              width: 92%;
              a {
                color: black;
                display: block;
                position: relative;
                font-size: 0.8em;
                &:hover {
                  text-decoration: none;
                  color: @black-amapl;
                }
                &:before {
                  content: "";
                  width: 82px;
                  height: 72px;
                  display: table;
                  margin: -80px auto 0 auto;
                  background: white url(../images/picto_formation_mixte.png)
                    no-repeat 0 0;
                  border-left: 5px solid white;
                  border-right: 5px solid white;
                }
              }
              margin-bottom: 20px;
            }
            .bottom-fields-training-list {
              margin-top: 30%;
              p {
                label {
                  width: 150px;
                }
              }
            }
            &.pl {
              h3.title-training-list {
                a:before {
                  background: white url(../images/picto_formation_bleu.png)
                    no-repeat 0 0;
                }
              }
            }
            &.caa {
              h3.title-training-list {
                a:before {
                  background: white url(../images/picto_formation_orange.png)
                    no-repeat 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
/* fin page de liste des formations *************************/
/* Page de formation ****************************************/
.node-type-training {
  #block-system-main {
    font-size: 1.5em;
    .field {
      margin-top: 20px;
      field-label-inline,
      label-above {
        line-height: 2em;
      }
    }
    .field-name-field-training-price {
      position: relative;

      border-bottom: 5px solid @blue-green-amapl;
    }
    .field-name-field-accessibility {
      position: relative;
      .field-label {
        &:after {
          content: "";
          display: block;
          background: url(../images/accessibilite.png) no-repeat 100% 0;
          width: 138px;
          height: 28px;
          position: absolute;
          top: -6px;
          left: 150px;
        }
      }
    }
    .field-name-field-scheduled-sessions {
      padding: 10px;
      background-color: @light-grey-amapl;
      > .field-label {
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 900;
        background: url(../images/next_btn.png) no-repeat 5px 12px;
        padding-left: 70px;
        padding-top: 20px;
        min-height: 50px;
      }
      .view-display-id-next_sessions {
        padding-left: 20px;

        a.colorbox-node {
          background: url(../images/puce-fleche-noire.png) no-repeat 5px 12px;
          display: block;
          padding-left: 30px;
          margin: 15px 0 20px 0;
          color: black;
          &:hover {
            background-color: @blue-green-amapl;
          }
          span.mode-training {
            .box-black();
          }
          span.focus-training {
            .box-red();
          }
        }
      }
    }

    ul {
      li {
        font-size: 1em;
        background: url(../images/puce-fleche-noire.png) no-repeat 5px 12px;
      }
    }
    p {
      font-size: 1em;
    }
    .field-name-field-training-teachers {
      p > a {
        padding-left: 40px;
        background: url(../images/puce-fleche-noire.png) no-repeat 10px 5px;
        display: block;
        min-height: 25px;
      }
    }
  }
  &.not-logged-in {
    .views-field-nothing {
      display: none;
    }
  }
  @media screen and (max-width: @screen-md) {
    .ds-2col-fluid > .group-left {
      float: none;
      width: 100%;
    }
    .ds-2col-fluid > .group-right {
      float: none;
      width: 100%;
    }
  }
}
/* fin page formation ***************************************/
/* colorbox *************************************************/
#cboxLoadedContent {
  .group-focus {
    display: flex;
    .field-name-field-session-focus {
      .box-red();
    }
    .taxonomy-term a {
      .box-black();
    }
  }
  padding: 20px;
  .field-label,
  .label-above {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .field-name-node-link {
  }
  .group-first-row,
  .group-second-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    > div {
      width: 45%;
    }
  }
  .field-name-field-session-registration {
    > .field-label {
      margin-top: 20px;
    }
    input,
    select {
      width: 90%;
    }
  }
  .no-payment {
    display: none;
  }
  .form-checkbox {
    margin-left: 100px;
  }
  .checkbox label {
    padding-left: 0;
    font-weight: bold;
  }
  .field-name-field-amapl-member {
    margin: 25px 0;
  }
}

/* Fin colorbox *********************************************/
/* Message de confirmation d'inscription à une formation */
.registration-training-confirmation-msg {
  .field {
    display: flex;
    font-size: 1.8em;
    line-height: 1.8em;
    h3 {
      margin: 4px 0;
    }
    margin: 15px 0;
  }
}
