.paragraphs-item-encarts-50{
  float: left;
  width : 47.916666666666666666666666666667%;/* 460/960 */
  &.even-50 {
    margin-right : 2.083333333%; /* 20/960 */
  }
  background-color: grey;
  > div{
    padding: 20px;
  }

}
.h2-home{
  text-transform: uppercase;
}
.custom-quote{
  font-size: 1.4em;
  color: @noir-lppl;
  &:before {
    .glyphicon();
    content: "\e830";
    color: @bleu-vert-lppl;
    font-size: 1.6em;
  }
}