body{
  font-family: 'Montserrat', sans-serif;
}
a{
  color: @blue-link-wiki;
  &:hover{
    color: @dark-blue-link-wiki;
  }
}
p a{
  text-decoration: underline;
  color: @noir-lppl;
  &:before{
    text-decoration: none;
  }
}
.atom-align-left{
  margin: 0 20px 0 0;
}
.atom-align-right{
  margin: 0 0 0 20px;
}
ul.list-arrow{
  list-style: none;
  margin: 0;
  padding: 0;
  > li{
    list-style: none;
    margin-left: 20px;
    .link-right-column();
    color: #000;
    margin: 15px 0 15px 20px;
  }
}
ul.list-arrow-link{
  list-style: none;
  margin: 0;
  padding: 0;
  > li{
    list-style: none;
    margin-left: 20px;
    a{
      display: block;
      padding-top: 15px;
      .link-right-column();
    }
  }
}
/* Element qui prend toute la largeur *********************************************************************************/
.full-width-bg{
  background-color: @fond-gris-lppl;
  .atom-align-right:after, .know-more:after{
      display: block;
      content: '';
      clear: both;
  }
}
/* Menus du haut + formulaire de recherche ****************************************************************************/
.custom-top-menu {

  background-color: @noir-lppl;
  .block-menu-block{
    display: table;
    float: right;
    margin-right: 50px;
    ul.menu{
      > li{
        float: left;
        a{
          color: white;
          display: block;
          padding: 5px 20px;
          &:hover,&.active-trail{
            background-color: @orange-lppl;
          }
        }
      }
    }
  }
  .block-search{
    float: right;
    height:30px;
    overflow: hidden;
    width: 200px;
    input.form-control{
      padding: 0 20px;
      margin: 3px 5px 0 0;
      height:25px;
      border-radius:14px;
      width: 150px;
    }
    button.btn-primary{
      background-color: @noir-lppl;
      border-color: @noir-lppl;
      span.glyphicon{
        &:before{
          color: white;
          background-color: @noir-lppl;
          font-size: 1.6em;
          position: relative;
          top: -3px;
          left: -10px;
          content: "\e819";
        }
        &:hover:before{
          color: @orange-lppl;
        }
      }
    }

  }
}
/* HEADBAND ***********************************************************************************************************/
.custom-headband{
  background: #2D2D2D url(../images/bg-headband.jpg) no-repeat 50% 0;
  #h1-logo{
    margin: 40px 0;
  }
}

/* Menu principal *****************************************************************************************************/
.dropdown-menu>li>a{
  white-space: normal;
}
.link-main-menu{
  color: white;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  br{
    display: none;
  }
  @media (min-width: @screen-lg-min){
    br{
      display: inline;
    }
    background: @bleu-vert-lppl url(../images/bg-menu.png) no-repeat 100% 100%;
    width: 343px;
    height: 138px;
    padding: 28px 0 0 22px;
    margin-right: 40px;
    margin-bottom: 30px;
    font-size: 2em;
    line-height: 1.2em;
    border-radius: 8px 8px 0 0;
    box-shadow: 5px 5px 5px 0px #656565;
    &:hover{
      border-radius: 8px 8px 0 0;
      background-image: none;
    }
  }
  &:after{
    .glyphicon();
    content: "\e838";
    color: @orange-lppl;
    position: absolute;
    top: 80%;
    right: -10px;
    font-size:0.8em;
  }
  &:hover{
    color: @orange-lppl;
  }
  &:hover:after{
    color: white;
    content: '';
  }
}
body.front{
  .custom-headband{
    button.navbar-toggle{
      background-color: @fond-gris-lppl;
      &:before{
        .glyphicon();
        content: "\f0ca";
        position: absolute;
        font-size: 2em;
        top: 2px;
        left: 5px;
      }
    }
    ul.menu{
      > li{
        font-family: 'Montserrat', sans-serif;
        > a{
          .link-main-menu();
        }
        &.last{
          a{
            @media (min-width: @screen-lg-min){
              margin-right: 0;
            }
          }
        }
        > .dropdown-menu{
          @media (min-width: @screen-lg-min){
            padding-bottom: 20px;
            margin-top: -30px !important;
            background-color: @bleu-vert-lppl;
            width: 343px !important;
            border-radius: 0 0 8px 8px;
            box-shadow: 5px 5px 5px 0px #656565;
            border: 0;
            li{
              a{
                display: block;
                padding: 10px 5px 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}
body.not-front{
  .custom-headband{
    background: #2D2D2D url(../images/bg-headband.jpg) no-repeat 50% 0;
    button.navbar-toggle{
      background-color: @fond-gris-lppl;
      &:before{
        .glyphicon();
        content: "\f0ca";
        position: absolute;
        font-size: 2em;
        top: 2px;
        left: 5px;
      }
    }
    ul.menu{
      margin-top: 40px;
      margin-left: 30px;
      > li{
        font-family: 'Montserrat', sans-serif;
        > a{
          .link-main-menu();
          @media (min-width: @screen-lg-min){
            background: @bleu-vert-lppl url(../images/bg-menu.png) no-repeat 100% 100%;
            width: 240px;
            height: 90px;
            font-size: 1.4em;
            padding-top: 20px;
            span.caret{
              display: none;
            }
          }
        }
        &.last{
          a{
            @media (min-width: @screen-lg-min){
              margin-right: 0;
            }
          }
        }

        > .dropdown-menu{
          @media (min-width: @screen-lg-min){
            padding-bottom: 20px;
            margin-top: -30px !important;
            background-color: @bleu-vert-lppl;
            width: 240px !important;
            border-radius: 0 0 8px 8px;
            box-shadow: 5px 5px 5px 0px #656565;
            border: 0;
            li{
              a{
                display: block;
                padding: 10px 5px 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}
/* Menus secondaires **************************************************************************************************/
.block-menu-block{
  h2{
    display: none;
  }
  .dropdown-menu{
    display: block;
    position: relative;
    border: 0;
    border-radius:0;
    box-shadow: none;
    background-color: transparent;
    >li>a {
      white-space: normal;
    }
  }
}
/* Menu gauche ********************************************************************************************************/
#block-menu-block-3{
  background-color: @gris-menu;
  ul.menu{
    a{
      font-family: 'Montserrat', sans-serif;
    }
    > li{
      > ul >li.last{
        border-bottom: 1px solid grey;
        margin-bottom : 10px;
      }
      border-bottom: 1px solid grey;
      margin-bottom : 15px;
      &.expanded{
        border: 0;
      }
      > a{
        color: @orange-lppl;
        font-size: 1.2em;
        padding: 10px 5px;
      }
      > ul > li > a{
        color: @bleu-vert-fonce-lppl;
        font-size: 1.1em;
        font-weight: bold;
        padding: 10px 5px 10px 20px;
        position: relative;
        &:before{
          .glyphicon();
          content: "\e83f";
          position: absolute;
          left: 0px;
          top: 12px;
          color: @bleu-vert-lppl;
        }
      }

    }
    > li.active-trail{
      background-color: @fond-gris-lppl;
    }
    .dropdown-menu>.active>a{
      background-color: @fond-gris-lppl;
    }
  }
}
/* Titres *************************************************************************************************************/
h2.page-header{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  border-bottom: 3px solid @bleu-vert-fonce-lppl;
  text-transform: uppercase;
  font-size: 1.8em;
}
/* Contenus liés sur la colonne de droite *****************************************************************************/
.title-right-column(){
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 80px;
  background: url(../images/books.png) no-repeat 0 100%;
  text-transform: uppercase;
  font-size: 1.8em;
}
.link-right-column(){
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: @orange-lppl;
  &:before {
    .glyphicon();
    color: @orange-lppl;
    content: '\e83f';
  }
}


/* Articles liés ******************************************************************************************************/
#block-views-liste-articles-block-1,
.node-article .col-sm-4,
.node-type-news .col-sm-4,
.node-type-event .col-sm-4 {
  h2.block-title{
    .title-right-column();
    background: url(../images/books.png) no-repeat 0 100%;
  }
  .div-link-light-grey{
    .h3-entity-linked{
      .title-right-column();
      font-size: 1.6em;
    }
    a{
      .link-right-column();
    }
  }
}
/* Actualités liées ***************************************************************************************************/
.group-right {
  h3.h3-entity-linked{
    .title-right-column();
    background: url(../images/books.png) no-repeat 0 100%;
  }
  > div > a{
    color: @orange-lppl;
    font-size: 1.6em;
  }
}
.region-sidebar-second{
  font-family: 'Montserrat', sans-serif;
  .field-content{
    > a{
      color: @orange-lppl;
    }
  }
  .views-field.views-field-body{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid @gris-lppl;
  }
}