/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@noir-lppl:       #2F2F2F;
@gris-lppl:       #C2BDBF;
@orange-lppl:     #F45A40;
@bleu-vert-lppl:  #24CDB8;
@bleu-vert-fonce-lppl:  #21C1AD;
@fond-gris-lppl:  #ecebe7;
@violet-lppl:     #7c136b;
@blue-link-wiki:  #27277B;
@dark-blue-link-wiki:  #0645AD;

